@tailwind base;
@tailwind components;
@tailwind utilities;

input {
    @apply rounded-full border-[3px] border-solid border-[#CD63FF] h-10 p-2 pl-3 min-w-[40%];
}

button {
    @apply border-[3px] border-[#CD63FF] rounded-full p-[10px] pt-[5px] pb-[5px] bg-[#FAEFFF];
}

.scale-image {
    transition: transform 0.3s ease;
}

.scale-image:hover {
    transform: scale(1.1);
}

.scale-image:active {
    animation: shake 0.5s;
}

@keyframes shake {
    0% {
        transform: translate(0);
    }

    25% {
        transform: translate(-2px, 0);
    }

    50% {
        transform: translate(2px, 0);
    }

    75% {
        transform: translate(-2px, 0);
    }

    100% {
        transform: translate(0);
    }
}